
.login-bar {
    display: flex;
    background-color: #F0F0F0;
    height: 23px;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.lb-item {
    text-align: center;
    line-height: 23px;
    padding: 0px 10px 0px 10px;
}

.lb-item:nth-last-child(2) {
    margin-left: auto;
}