
.main-header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #404040;
}

.header-menu {
    font-size: 2rem;
}

.header-title {
    display: inline-block;
    text-align: center;
    width:730px;
    margin: auto 0;
    font-size: 1.2rem;
}

.header-search {
    margin-right: 3px;
    margin-top: 3px;
    font-size: 2rem;
}